body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #343433;
  font-family: 'Open Sans', sans-serif;
  color: #646461;
  line-height: 30px;
  font-size: 18px;
}

#hero {
  background: url(../img/hero.jpg) top center no-repeat;
  height: 100vh;
  background-size: cover;
  display: block;
  span {
    font-size: 20px;
    line-height: 30px;
    color: white;
    letter-spacing: 6px;
  }
  h2 {
    font-size: 120px;
    line-height: 120px;
    color: white;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    height: 25vh;
    span {
      font-size: 12px;
      line-height: 20px;
    }
    h2 {
      font-size: 50px;
      line-height: 50px;
    }
  }
}

#alaska {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: -200px;
  @media screen and (max-width: 768px) {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

#top-nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  li {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    line-height: 50px;
    padding: 0px 12px;
    font-size: 15px;
  }
}

#sub-nav {
  border: solid 1px black;
}

#middle-nav-list {
  padding: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: space-around;
  li {
    color: white;
    padding-left: 4em;
  }
}

.gallery {
  width: 100vw;
}

.gallery-row {
  display: flex;
  flex-direction: row;
}

.gallery-row-2 {
  display: flex;
  flex-direction: row;
}

.flex-panel {
  height: 420px;
  display: inline-block;
}

#raft {
  width: 50%;
  background: url(../img/raft.jpg);
  background-size: cover;
  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

#basecamp {
  width: 25%;
  background: url(../img/basecamp.jpg);
  background-position: center;
  overflow: hidden;
  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

#backpack {
  width: 25%;
  background: url(../img/backpacking.jpg);
  background-size: cover;
  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

#canoe {
  width: 25%;
  background: url(../img/canoe.jpg);
  background-size: cover;
  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

#photo {
  width: 25%;
  background: url(../img/photo.jpg);
  background-position: center;
  overflow: hidden;
  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

#custom {
  width: 50%;
  background: url(../img/custom.jpg);
  background-size: cover;
  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

.icon {
  height: 420px;
  img {
    width: 100%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon a {
  background: url(../img/bg-trans-icon.png);
  height: 40px;
  width: 40px;
  padding: 20px;
  border-radius: 100%;

}
