body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #343433;
  font-family: 'Open Sans', sans-serif;
  color: #646461;
  line-height: 30px;
  font-size: 18px;
}

h2 {
  text-align: center;
}

#hero {
  background: url(../img/hero.jpg) top center no-repeat;
  height: 100vh;
  background-size: cover;
  display: block;
}

#top-nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  li {
    color: white;
    padding-left: 20px;
    text-align: center;
  }
}

#sub-nav {
  border: solid 1px black;
}

#middle-nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  li {
    color: white;
    padding-left: 20px;
  }
}

.gallery {
  width: 100vw;
}

.gallery-row {
  display: flex;
  flex-direction: row;
}

.gallery-row-2 {
  display: flex;
  flex-direction: row;
}

.flex-panel {
  height: 420px;
  display: inline-block;
}

#raft {
  width: 50%;
  background: url(../img/raft.jpg);
  background-size: cover;
}

#basecamp {
  width: 25%;
  background: url(../img/basecamp.jpg);
  background-position: center;
  overflow: hidden;
}

#backpack {
  width: 25%;
  background: url(../img/backpacking.jpg);
  background-size: cover;
}

#canoe {
  width: 50%;
  background: url(../img/canoe.jpg);
  background-size: cover;
}

#photo {
  width: 25%;
  background: url(../img/photo.jpg);
  background-position: center;
  overflow: hidden;
}

#custom {
  width: 25%;
  background: url(../img/custom.jpg);
  background-size: cover;
}
